.container{
    position: relative;
    width: 200px;
    height: 200px;
    display: inline-block;
}

.image{
    display: block;
    width: 200px;
    height: 200px;
}

.overlay{
    position: absolute;
    transition: all .3s ease;
    opacity: 0;
    background-color: #00b1ba;
}

.container:hover .overlay{
    opacity: 1;
}

.text{
    color: white;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
}

/*bal oldalról*/
.left{
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
}

.container:hover .left{
    width: 100%;
}
/*bal oldalról vége*/

/*jobb oldalról*/
.right{
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
}

.container:hover .right{
    width: 100%;
}
/*jobb oldalról vége*/

/*fentről*/
.top{
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
}

.container:hover .top{
    height: 100%;
}
/*fentről vége*/

/*alulról*/
.bottom{
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
}

.container:hover .bottom{
    height: 100%;
}
/*alulról vége*/

/*cross*/
.cross{
    width: 0;
    height: 0;
    top: 0;
    left: 0;
}

.container:hover .cross{
    height: 100%;
    width: 100%;
}
/*cross vége*/

/*Eltakar*/
.fade{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.container:hover .fade{
    opacity: .7;
}

/*Eltakar vége*/