@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

body {
	margin: 0;
	font-family: georgia;
	background: url('../pics/bg-body.png') #fff
}
* {
	box-sizing: border-box
}

img {
	max-width: 100%/*egyik sem lehet lehet nagyobb min az a dobot amiben benne van*/
}

h1 {
	margin: 0 0 40px 0;
	padding: 0;
	font-family: 'Lobster', cursive;
	font-weight: 400;
	text-align: center;
}


.wrapper {
	max-width: 1200px;
	margin: 0 auto
}
header {
	font-size: 70px;
	font-family: 'Lobster', cursive;
	text-align: center;
	border-top: 2px dashed rgba(0,0,0,0.2);
	border-bottom: 2px dashed rgba(0,0,0,0.2);
	padding: 20px 0;
	margin: 40px 0;
	background: rgba(255,255,255,0.8);
	color: #76b332
}

.content{
    display: flex;
   /* flex-direction: row;row, row-reverse, column, column-reverse
    flex-wrap: wrap;*/
    flex-flow: row nowrap;/*előző kettőt váltja ki*/

}

nav {
	background: #dfe0e5;
	background: url('../pics/bg-menu.jpg') center center;
	order: 1;
	flex-basis: 20vw;
}

nav li{
    border-bottom: 1px dashed rgba(255, 255, 255, .2);
}

nav ul{
    margin: 0;
    list-style: none;
    padding: 30px;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
}

nav a:hover{
    background: rgba(255, 255, 255, .2);
}

main {
	flex-basis: 60vw;
	order: 2;
	margin: 0 20px;
}
aside {
	flex-basis: 20vw;
	order: 3
}

aside ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

aside a{
    display: block;
    color: #354052;
    font-size: 14px;
    text-decoration: none;
    line-height: 20px;
}

aside a:hover{
    text-decoration: underline;
}

aside li{
    padding: 15px 0;
    border-bottom: 1px dashed rgba(0, 0, 0, .4);
}

.recipes{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px
}

.recipe-box{
    flex: 1;
    min-width: 250px;
    background: white;
    border: 1px solid #ddd;
    padding: 0 0 10px 0;
    margin: 0 10px 20px 10px;
}

.recipe-box h2{
    font-size: 18px;
    padding: 10px 20px 0 20px;
    margin: 0;
}

.recipe-box p{
    margin: 0;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 19px;
}

.pagination{
    display: flex;
    margin: 30px 0;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.pagination .page{
    display: inline-block;
    padding: 5px 8px;
    text-decoration: none;
    background: white;
    border: 1px solid rgba(0,0,0,0.2);
    color: #354052;
    margin: 0 5px 5px 0;
}

.pagination .page:hover,
.pagination span.page{
    background: black;
    color: white;
}


